body{
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

h1{
    color: rgb(184, 163, 163);
}


.cc {
    z-index: 1;
}

button {
    background-color:   #DEB297;
    display: inline;
    font-size: 2rem;
    text-align: center;
    width: 14rem;
    height: 3rem;
    padding-top: 0rem;
    font-family: 'VT323', monospace;
    -webkit-box-shadow: 0.1rem 0.1rem 1.2rem 0rem rgba(50, 50, 50, 0.75), inset 0.1rem 0.1rem 1.9rem 0rem rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0.1rem 0.1rem 1.2rem 0rem rgba(50, 50, 50, 0.75), inset 0.1rem 0.1rem 1.9rem 0rem rgba(50, 50, 50, 0.75);
    box-shadow:         0.1rem 0.1rem 1.2rem 0rem rgba(50, 50, 50, 0.75), inset 0.1rem 0.1rem 1.9rem 0rem rgba(50, 50, 50, 0.75);
}

button:hover
{
    background-color:   #cd9d7f;

}
  #shop {
   z-index: 1;
   display: none;

}

.row {
    margin-top: 10%;
	width: 100%;
	text-align: center;
}

.block {
	display: inline-block;
}

.InsideContent {
	display: inline;
}

.block{
    justify-content: space-between;
    flex-wrap: wrap;


}
#pane {
	width: 40vw;
	margin: 0px auto -1px auto;
	padding: 30px;
	font-family: 'VT323', monospace;


}

#menu-item {
    display: flex;
	font-size: 33px;
	width: 150px;
	color: white;
    text-align: center;
    align-content:center;
    justify-content: space-between;
    align-content: space-between;
    width: 40rem;
    margin: auto;

}

.card {
	background: #302e2e;
	border-radius: 10px;
    margin-top: -50px;
    opacity: 0.9;
}


#coins {
    font-family: 'VT323', monospace;
	text-align: center;
    color: whitesmoke;
    font-size: 2em;
}

#main-menu {
    display:none;
    visibility: hidden;

}

#pname{
    position: absolute;
    top:38%;
    bottom:80%;
    left: 40%;
    right: 40%;
    margin:auto;
    background-color:   #DEB297;
    display: inline;
    font-size: 2rem;
    text-align: center;
    width: 14rem;
    height: 2.5rem;
    padding-top: 0rem;
    font-family: 'VT323', monospace;
    -webkit-box-shadow: 0.1rem 0.1rem 1.2rem 0rem rgba(50, 50, 50, 0.75), inset 0.1rem 0.1rem 1.9rem 0rem rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0.1rem 0.1rem 1.2rem 0rem rgba(50, 50, 50, 0.75), inset 0.1rem 0.1rem 1.9rem 0rem rgba(50, 50, 50, 0.75);
    box-shadow:         0.1rem 0.1rem 1.2rem 0rem rgba(50, 50, 50, 0.75), inset 0.1rem 0.1rem 1.9rem 0rem rgba(50, 50, 50, 0.75);
}

.image {
    margin-right: 3rem;
    padding-left: 10px;
    width: 5%;
    height: 5%;
}


#background-video {
    position: fixed;
    right: 0;
    top: -11%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.9;
}