body{
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
   
}

#main-menu,
#game-over,
#pause-game{

}



#resume{

}

#game-over, #pause-game{
}

#restart{

}

#pause{
 
}


